<div class="container">


  {{#grouped_each 3 news}}
  <div class="row">
    {{#each this }}
    <div class="card" style="width: 18rem;">
      <img src="{{image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <a href="{{URL}}">
          <h5 class="card-title">{{headline}}</h5>
        </a>
        <p class="card-text">{{summary}}</p>
        <a href="#" class="btn btn-primary">Save</a>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/grouped_each}}
</div>